:root {
  --primary-font: 'Roboto', sans-serif;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --whight-color: #ffffff;
  --light-color: #f4f4fd;
}

.body {
  font-family: var(--primary-font);
  color: var(--text-color);
  background-color: var(--whight-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Header styles */

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.span-header {
  color: var(--dark-color);
}

.header-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--pressed-state-color);
  text-decoration: underline;
}

.address {
  font-style: normal;
}

.address .link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: currentColor;
}

.address .link:hover,
.address .link:focus {
  color: var(--pressed-state-color);
}

/* Styles page main content */
/* Styles Hero */

.section-hero {
  background-color: var(--dark-color);
}

.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--whight-color);
  text-align: center;
}

.hero-button {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--whight-color);
  cursor: pointer;
  background-color: var(--primary-brand-color);
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
}

/* Styles Features */

.features-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Styles Gallery of works */
.works-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: center;
  text-transform: capitalize;
}

/* Styles Team */
.section-team {
  background-color: var(--light-color);
}

.team-card-item {
  background-color: var(--whight-color);
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--dark-color);
  text-align: center;
  text-transform: capitalize;
}

.team-subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Styles portfolio main content */
/* Styles Filters */

.filters {
  font-family: var(--primary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  cursor: pointer;
}

.filters:hover,
.filters:focus {
  color: var(--whight-color);
  background-color: var(--pressed-state-color);
}

.projects-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.projects-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* Styles Footer */

.footer {
  background-color: var(--dark-color);
}

.span-footer {
  color: var(--light-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
}
